.DS_Store
scss/02 tools/normalize.css
style-guide.md
design/active-states.jpg
design/desktop-preview.jpg
design/desktop-design.jpg
design/mobile-design.jpg
css/main.css.map
scss/02 tools/_normalize.scss
