@mixin desktop($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

.main-header {
  @include desktop(700px) {
    background-image: url("/images/bg-header-desktop.png");

    .wrapper {
      max-width: 600px;
    }
  }
}

.download-form {
  @include desktop(700px) {
    flex-wrap: nowrap;
    justify-self: stretch;

    input {
      flex-basis: 50%;
      margin-bottom: 0;
    }

    .download-btn-mac {
      margin-right: 1.5rem;
    }
  }
}

// main
.tracking {
  @include desktop(700px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;

    .container-intro {
      grid-column: 1 / -1;
    }

    .tracking-image {
      grid-column: 1 / span 1;
      grid-row: auto / span 3;
      align-self: center;
      //   width: 800px;
      //   display: none;
    }

    .feature {
      text-align: left;
      justify-self: start;
      grid-column: span 1 / -1;
    }
  }
}

.clipboard {
  img {
    width: 90%;
  }
}

.workflow {
  @include desktop(700px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 8%;

    .container-intro {
      max-width: 600px;
      margin: 0;
      grid-column: 1 / -1;
    }

    .feature {
      @include grid;
      grid-template-rows: 60px auto 1fr;
    }

    .feature-icon {
      place-self: center;
    }
  }
}

.clients {
  @include desktop(700px) {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 0 10%;

    img {
      width: 100%;
    }
  }
}

.promo {
  @include desktop(700px) {
    max-width: 600px;
    margin: 0 auto;
    padding: 8rem 0;
  }
}

.main-footer {
  @include desktop(700px) {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    padding: 2rem;

    .footer-nav {
      justify-self: stretch;
    }

    .footer-links {
      @include flex;
      flex-wrap: wrap;
      align-items: center;

      li {
        flex: 0 1 33.333%;
        text-align: left;
        padding: 1rem 0;
      }
    }
  }
}

.attribution {
  @include desktop(700px) {
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    justify-self: center;
  }
}
